# Hello Program

In [1]:
print("Hello,Mayuri")

Hello,Mayuri

In [2]:
print("Hello,Gouri")
print("Hello,Gundu")

Hello,Gouri
Hello,Gundu

## Variables

In [3]:
a = 10
b =20
a+b

30

In [4]:
c=5
d=10
sum = c+d
print(sum)

15

In [5]:
# To know the type of data
type(c)

int

## how variable is stored?

In [6]:
a = 10
print(id(a))
a = 20
print(id(a))

1953072507472
1953072507792

In [7]:
c = 25
print(id(c))
d = 25
print(id(d))

1953072507952
1953072507952

In [8]:
e = 1000
print(id(e))
f = 1000
print(id(f))

1953158972784
1953158973360

## Airthemetic operations

In [9]:
a = 5
b = 4
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a**b)

9
1
20
1.25
1
625

## taking input

In [12]:
a = int(input("enter the number "))
a

enter the number 3

3

## Problems

In [14]:
# simple interest
p = int(input("enter the principal amaount"))
t = int(input("enter the time period"))
r = int(input("enter the rate of interest"))
SI = (p*t*r)//100
print(SI)

enter the principal amaount1000
enter the time period2
enter the rate of interest14
280

In [15]:
# fahrenheit to celsius
f = int(input("Enter the temperature in Fahrenheit"))
c = (f-32)*5/9
print(c)

Enter the temperature in Fahrenheit54
12.222222222222221

Write a program to input marks of three tests of a student (all integers). Then calculate and print the average of all <br> test marks. <br> 
Input format :<br> 
3 Test marks (in different lines)<br> 
Output format :<br> 
Average <br> 
Sample Input 1 :<br> 
3 <br> 
4 <br> 
6<br> 
Sample Output 1 :<br> 
4.333333333333333<br> 
Sample Input 2 :<br> 
5 <br> 
10 <br> 
5<br> 
Sample Output 2 :<br> 
6.666666666666667<br>

In [17]:
t1 = int(input("enter the marks of text 1"))
t2 = int(input("enter the marks of text 2"))
t3 = int(input("enter the marks of text 3"))
avg = (t1+t2+t3)/3
print("average of all text is ",avg)

enter the marks of text 15
enter the marks of text 210
enter the marks of text 35
average of all text is  6.666666666666667

Find X raised to power N <br>
Send Feedback <br>
You are given two integers: X and N. You have to calculate X raised to power N and print it.<br>
Input format:
The first line of input contains an integer X (1 <= X <= 100) <br>
The second line of input contains an integer N (1 <= N <= 10) <br>
Constraints: <br>
Time Limit: 1 second<br>
Output format:<br>
The first and only line of output contains the result.  <br>
Sample Input:<br>
10<br>
4<br>
Sample Output:<br>
10000<br>


Code Pair<br>

In [18]:
base = int(input())
power = int(input())
ans = base ** power
print(ans)

10
4
10000

Arithmetic Progression <br>
Send Feedback <br>
You are given first three entries of an arithmetic progression. You have to calculate the common difference and print it. <br>
Input format: <br>
The first line of input contains an integer a (1 <= a <= 100) <br>
The second line of input contains an integer b (1 <= b <= 100) <br>
The third line of input contains an integer c (1 <= c <= 100) <br>
Constraints:<br>
Time Limit: 1 second<br>
Output format:<br>
The first and only line of output contains the result.  <br>
Sample Input:<br>
1<br>
3<br>
5<br>
Sample Output:<br>
2<br>

In [19]:
a = int(input())
b = int(input())
c = int(input())
ap = b-a
print(ap)

1
3
5
2

Rectangular Area <br>
Send Feedback <br>
You are given a rectangle in a plane. The coordinates of one of its diagonals are provided to you. You have to print the total <br>area of the rectangle.<br>
The coordinates of the rectangle are provided as four integral values: x1, y1, x2, y2. It is given that x1 < x2 and y1 < y2.<br>


Input format:<br>
The first line of input contains an integer x1 <br>
The second line of input contains an integer y1 <br> 
The third line of input contains an integer x2 <br>
The fourth line of input contains an integer y2 <br>
Constraints:<br>
1 <= x1 <= 10<br>
1 <= y1 <= 10<br>
1 <= x2 <= 10<br>
1 <= y2 <= 10 <br>
Time Limit: 1 second<br>
Output format:<br>
The first and only line of output contains the result.  <br>
Sample Input:<br>
1<br>
1<br>
3<br>
3<br>
Sample Output:<br>
4<br>
Explanation:<br>
The given coordinates of the diagonal are (x1,y1) = (1,1) and (x2,y2) = (3, 3). <br>
The area of the rectangle can then easily be calculated as: <br>
(3 – 1) * ( 3 – 1) = 2 * 2 = 4 <br>

In [20]:
x1 = int(input())
y1 = int(input())
x2 = int(input())
y2 = int(input())
area = (x2-x1)*(y2-y1)
print(area)

1
1
3
3
4